<div class="navigation">
  <router-outlet name="navigation"></router-outlet>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <router-outlet name="footer"></router-outlet>
</div>
