:host {
  @apply flex flex-col h-screen flex-nowrap;
}

.navigation {
  @apply flex-none h-20 xl:h-16 w-full;
}

.body {
  @apply flex-auto grow h-full w-full overflow-x-auto;
}

.footer {
  @apply flex-none w-full;
}
