<div class="container mx-auto w-full p-3">
  <div class="mb-3" *ngxAuthHas="'authorities'; any: [USER_ROLES.ADMIN, USER_ROLES.EDITOR]">
    <button
      (click)="openNewArticleDialog()"
      class="
      flex
          items-center
          justify-center
            text-sm
            font-semibold
            leading-none
            text-white
            focus:outline-none
            bg-primary-700
            border
            rounded
            hover:bg-primary-600
            py-3 px-8
            w-full lg:w-auto
            disabled:bg-gray-400
    "
            pRipple>
      <span>New Article</span>
    </button>
  </div>
  <div class="bg-white hover:bg-primary-100 rounded-b lg:rounded-b-none lg:rounded-r mb-3 cursor-pointer" *ngFor="let article of (articles$ | async)" (click)="openArticle(article)">
    <app-article-summary [article]="article"></app-article-summary>
  </div>
</div>



