<div class="dialog inline-block align-bottom bg-white lg:rounded-lg flex flex-col justify-between text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
  <div class="bg-white px-4 lg:pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">{{data.title}}</h3>
          <div
            id="cross"
            class="text-gray-800 cursor-pointer rounded-full py-2"
            (click)="closeDialog()"
            pRipple
          >
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-x"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>

          </div>
        </div>
        <app-article-form [form]="articleForm"></app-article-form>
      </div>
    </div>
  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
    <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary-700 text-base font-medium text-white hover:bg-primary-600 sm:ml-3 sm:w-auto sm:text-sm disabled:bg-gray-400" pRipple [disabled]="articleForm.invalid" (click)="confirmArticle()">{{data.confirmButton}}</button>
    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm hidden lg:block" pRipple (click)="closeDialog()">{{data.cancelButton}}</button>
  </div>
</div>
