<div class="w-full flex">
  <div *ngIf="false" class="h-48 lg:h-auto lg:w-48 hidden lg:flex flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug"></div>
  <div class="p-4 flex flex-col lg:flex-row justify-between leading-normal w-full">
    <div class="mb-8 lg:mb-0">
      <div class="text-gray-900 font-bold text-xl mb-2">{{article.title}}</div>
      <p class="text-gray-700 text-base">{{article.body}}</p>
    </div>
    <div class="flex items-center lg:items-start">
      <img class="w-10 h-10 rounded-full mr-4" [src]="article.owner?.imageUrl | defaultIfNull : '/assets/images/placeholders/profile-placeholder.png'" alt="">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">{{article.owner?.login | defaultIfNull : '-'}}</p>
        <p class="text-gray-600">{{article.created | date : 'short'}}</p>
      </div>
    </div>
  </div>
</div>
