.p-dialog-mask.p-dialog-mask.p-dialog-mask {
  background: rgba(0,0,0,0.6);
  height: auto;
  min-height: 100%;
}

@media (min-width: 1024px) {
  .p-dialog-mask.p-dialog-mask.p-dialog-mask {
    height: 100%;
  }
}
