.p-ripple {
  overflow: hidden;
  position: relative;
}

.p-ink {
  display: block;
  position: absolute;
  background: rgba(29, 78, 216, 0.5);
  border-radius: 100%;
  transform: scale(0);
}

.bg-primary-700 .p-ink {
  background: rgba(191, 219, 254, 0.5);
}

.p-ink-active {
  animation: ripple 0.4s linear;
}

.p-ripple-disabled .p-ink {
  display: none !important;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
