@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~primeicons/primeicons.css';
@import "src/scss/globals";

*:focus {
  outline: none;
}

html {
  @apply font-sans antialiased bg-gray-100;
}

.error {
  @apply border-red-500 text-red-700;

  &::placeholder {
    @apply text-red-900 opacity-40;
  }
}
