<ng-container *ngIf="article$ | async as article">
  <div class="container mx-auto w-full p-3">
    <div class="flex mb-3" *ngxAuthHas="'authorities'; any: [USER_ROLES.ADMIN, USER_ROLES.EDITOR]">
      <button
        class="
      flex
          items-center
          justify-center
            text-sm
            font-semibold
            leading-none
            text-white
            focus:outline-none
            bg-primary-700
            border
            rounded
            hover:bg-primary-600
            py-3 px-8
            w-full lg:w-auto
            disabled:bg-gray-400
    "
        (click)="editArticle(article)"
        pRipple>
        <span>Edit</span>
      </button>
      <button
        class="
      flex
          items-center
          justify-center
            text-sm
            font-semibold
            leading-none
            text-white
            focus:outline-none
            bg-primary-700
            border
            rounded
            hover:bg-primary-600
            py-3 px-8
            w-full lg:w-auto
            disabled:bg-gray-400
    "
        (click)="deleteArticle(article)"
        pRipple>
        <span>Delete</span>
      </button>
    </div>
    <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-3 cursor-pointer">
      <h3>{{article.title}}</h3>
      <p>{{article.body}}</p>
    </div>
  </div>


</ng-container>

