<form class="my-3 w-full" [formGroup]="form">
  <div class="mb-4">
    <select id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" formControlName="status">
      <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
    </select>
  </div>
  <div class="mb-4">
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [class.error]="form.get('title')?.invalid" id="title" type="text" placeholder="Title" formControlName="title">
  </div>
  <div class="mb-6">
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" [class.error]="form.get('body')?.invalid" id="content" type="text" formControlName="body" placeholder="Start writing your article content..."></textarea>
  </div>
</form>

